- flash.each do |type, content|
  div(data-closable class='callout #{type}' tabindex='0' aria-live='assertive' role='alertdialog')
    = content
    button.close-button(data-close tabindex='0' aria-label='Close Alert') &times;
